*, *::before, *::after {
    box-sizing: border-box;
}

:root{
        --mainColor:#3c7794;
        --secondaryColor:#fce3f0;
        --textColor:#202a4b;
        --btnMain:#c2def7;
        --btnScondary:#83b3d9;
    
    
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    background-color: var(--mainColor);
}

/* styles for the add project button  */

.add-project-container {
    border: 1px solid var(--textColor);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 3%;
    right: 3%;
    font-size: 5rem;
    background-color: var(--btnMain);
}

.hover-btn {
    background: none;
    border: none;
    font-size: inherit;
    cursor: pointer;
    color: var(--textColor);
}

.description {
    width: 5rem;
    height: 5rem;
    border-radius:50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--btnMain);
    color: var(--textColor);
    padding: 5px 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.add-project-container:hover{
    cursor: pointer;
}
.add-project-container:hover .description {
    opacity: 1;
    visibility: visible;
}

/* styles for the main container  */

#main-container{
    background-color: var(--secondaryColor);
    width: 80%;
    height: 100%;
    overflow: auto;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 100px;
    gap: 5px;

}


#main-container.center-grid {
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#main-container.center-grid h1 {
    text-align: center;
   
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.card:hover{
    cursor: pointer;
    background-color: var(--btnScondary);
}

.time {
    position: absolute;
    bottom: 0px;
    right: 5px;
    font-size: 1rem;
    color: var(--textColor);
    padding: 0;
    margin: 0;
  }

  .card-marker{
    height: 100%;
    width: 5%;
    background-color: rebeccapurple;
    position: absolute;
    left: 0;
    top: 0;
  }

/* modal related stlyes */
.close{
    display: flex;
    justify-content: flex-end
}
.close svg{
    width: 15px;
    height: 15px;
}

.close svg:hover{
    cursor: pointer;
    fill: red;
}