*, *::before, *::after {
    box-sizing: border-box;
}

:root{
        --mainColor:#3c7794;
        --secondaryColor:#fce3f0;
        --textColor:#202a4b;
        --btnMain:#c2def7;
        --btnScondary:#83b3d9;
    
    
}

